@import "tailwindcss";

:root,
html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Chặn thanh cuộn */
    background-color: #000000;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
